body {
    background-color: rgb(240, 240, 240);
    background-size: cover;
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    position: absolute;
    max-width: 100%;
    margin: 0;
    padding: 0;
    

  }
.background1 {
    background-image: url('../img/2.webp');
    background-size: cover;
    height: 600px;
    width: 100%;
    max-width: 100%;
    background-attachment: fixed;

 

  }
  .background2 {
    background-image: url("../img/1.jpg");
    height: 200px;
    width: 100%;
    background-repeat: repeat;


  }