@{
    ViewData["Title"] = "Home Page";
}

<p>123</p>
<canvas width="400" height="300"></canvas>
<p>123</p>
<canvas width="200" height="300"></canvas>
<input id="size" type="text" style="width:100px" value="10" />
<button id="b">log value</button>
